{% extends 'base.html' %}

{% block content %}

    <center> <h1> Establecimiento de conexión a la Base de Datos de Oracle </h1> </center>   
    <form method="post">  
        {% csrf_token %}
        <div class="container">
            {{ form }}
            <button type="submit">Login</button>   
        </div>
        {% if error_message %}
        <br>
        <div class="alert alert-danger">
            <center>{{ error_message }}</div></center>
        </div>
        {% endif %}
    </form>     

{% endblock content %}  