{% extends 'base.html' %}

{% block content%}
    <div style="center;"> 
        <div>
            <a class="btn btn-primary" href="clientes" role="button">Subsistema clientes</a>
        </div>
        <br>
        <div>
            <a class="btn btn-primary" href="logistica" role="button">Subsistema logística</a>
        </div>
        <br>
        <div>
            <a class="btn btn-primary" href="rh" role="button">Subsistema recursos humanos</a>
        </div>
        <br>
        <div>
            <a class="btn btn-primary" href="contabilidad" role="button">Subsistema contabilidad</a>
        </div>
            <a class="btn btn-primary" href="animales" role="button">Subsistema animales</a>
        <a class="btn btn-primary" href="logout" role="button">Cerrar Sesión</a>
    </div>

{% endblock %}