{% extends 'baseclientes.html'%}

{% block title %}
<title>Veterinaria Ghandi - Clientes</title>
{% endblock title %}

{% block content%}
<br>
<center>
<h3>Dar de alta cliente</h3>
<br>



<br>

<form method="POST" class="post-form" >
    {% csrf_token %}
    {{ form.as_p  }}
    <br>
    <br>
    <button type="submit" class="btn btn-primary">Añadir Cliente</button>
</form>
</center>
<br>
<center>
    <a class="btn btn-primary" href="{% url 'clientes:menu_clientes' %}" role="button">Volver al menú</a>
</center> 

{% endblock %}