{%extends 'baseclientes.html'%}

{% block content %}
<div style="width: 200px;
margin: auto;"> 
<form method="POST" class="post-form"  >
  
  {% csrf_token %}
  {{ form.media }}
  {{ form.as_p }}
  <br>
  <br>
  <button type="submit" class="btn btn-primary">Buscar fechas</button>
</form>
</div>
<br>
<br>

{% if error_message %}
        <br>
        <div class="alert alert-danger">
            <center>{{ error_message }}</div></center>
        </div>
        {% endif %}


  
<br>
<br>
<div style="width: 100"></div>
<table class="table table-striped" style="width:600px">
    <thead>
      <tr>
        <th scope="fecha">Hora</th>
        
      </tr>
    </thead>
    <tbody>
      {% for hora in horas %}
        <tr class ='clickableRow'>
          <td>{{ hora.hora }}</td>

        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
  <center>
    <a class="btn btn-primary" href="{% url 'clientes:menu_clientes' %}" role="button">Volver al menú</a>
</center> 
{% endblock%}