{% extends 'base.html' %}

{% block content%}
    <div style="center;"> 
        <form method="post">  
            {% csrf_token %}
        <div>
        <button class="btn btn-primary" id="alta-cliente-btn" name="alta-cliente-btn" type="submit">
            Dar de alta nuevo cliente
        </button>
        </div>
        <br>
        <div>
            <button class="btn btn-primary" id="mostrar-clientes-btn" name="mostrar-clientes-btn" type="submit">
                Mostrar todos los clientes
            </button>
            </div>
            <br>
            <div>
                <button class="btn btn-primary" id="buscar-clientes-btn" name="buscar-clientes-btn" type="submit">
                    Buscar clientes
                </button>
                </div>

                <br>
                <div>
                    <button class="btn btn-primary" id="buscar-fecha-btn" name="buscar-fecha-btn" type="submit">
                        Buscar horas disponibles
                    </button>
                    </div>
                    <br>
                    <div>
                        <button class="btn btn-primary" id="mostrar-citas-btn" name="mostrar-citas-btn" type="submit">
                            Mostrar Citas
                        </button>
                        </div>
        </form> 
        <br>
        
        <center>
            <div>
                <a href="{% url 'login:menu' %}" class="btn btn-secondary" id="volver-menu-btn">Volver atrás</a>
            </div>
            </center>
        
    </div>

{% endblock %}