{%extends 'base.html'%}

{% block title %}
<title>Veterinaria Ghandi - Clientes</title>
{% endblock title %}

{% block content%}
<center> <h2>Área de Clientes</h2> </center>
<br>

<h3>Mostrar clientes</h3>
<div style="width: 100"></div>
<table class="table table-bordered" style="width:600px">
    <thead>
      <tr>
        <th scope="dni">DNI</th>
        <th scope="nombre">Nombre</th>
        <th scope="apellido">Apellido</th>
        <th scope="telefono">Teléfono</th>
        <th scope="action">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for cliente in clientes %}
        <tr>
          <td>{{ cliente.dni }}</td>
          <td>{{ cliente.nombre }}</td>
          <td>{{ cliente.apellido }}</td>
          <td>{{ cliente.telefono }}</td>
          <td><a href="{% url 'clientes:confirmar_borrado' pk=cliente.dni %}">
            <button type="button" class="btn btn-danger">Delete</button>
          </a>
          <a href="{% url 'clientes:modificar_cliente' pk=cliente.dni %}">
            <button type="button" class="btn btn-success">Modificar</button>
          </a>
        </td>

          
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
  <center>
    <a class="btn btn-primary" href="{% url 'clientes:menu_clientes' %}" role="button">Volver al menú</a>
</center> 
{% endblock%}