{% extends 'base.html'%}

{% block title %}
<title>Veterinaria Ghandi - Logistica</title>
{% endblock title %}

{% block content%}
<center> <h2>Área de Logística</h2> </center>
<br>

<h3>Consultar Stock</h3>
<br>

<form method="POST" class="post-form" >
    {% csrf_token %}
    {{ form.as_p  }}
    <br>
    <br>
    <button id="consulta1" name="consulta1" type="submit">Consultar Producto</button>
    <br>
    <br>
    <button id="consulta2" name="consulta2" type="submit">Consultar todo el Almacén</button>
</form>
<br>
<br>
<div style="width: 100"></div>
<table class="table table-striped" style="width:600px">
    <thead>
      <tr>
        <th scope="idProducto">idProducto</th>
        <th scope="nombre">Nombre</th>
        <th scope="cantidad">Cantidad</th>
      </tr>
    </thead>
    <tbody>
      {% for producto in productos %}
        <tr>
          <td>{{ producto.idproducto }}</td>
          <td>{{ producto.nombre }}</td>
          <td>{{ producto.cantidad }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<br>
<center>
    <a class="btn btn-secondary" href="{% url 'logistica:menu_logistica' %}" role="button">Volver al menú del Subsistema</a>
</center> 
{% if error_message %}
    <br>
    <div class="alert alert-danger">
        <center>{{ error_message }}</div></center>
    </div>
{% endif %}

{% endblock %}