{% extends 'base.html' %}

{% block title %}
<title>Veterinaria Ghandi - Logistica</title>
{% endblock title %}

{% block content%}
<center> <h2>Área de Logística</h2> </center>
<br>

<form method="post">  
    {% csrf_token %}
<div>
<button class="btn btn-primary" id="hacerpedido-btn" name="hacerpedido-btn" type="submit">
    Hacer Pedido
</button>
</div>
<br>
<div>
    <button class="btn btn-primary" id="consultarstock-btn" name="consultarstock-btn" type="submit">
        Consultar Stock
    </button>
</div>
<br>
<div>
    <button class="btn btn-primary" id="almacenarproducto-btn" name="almacenarproducto-btn" type="submit">
        Almacenar Producto
    </button>
</div>
<br>
<div>
    <button class="btn btn-primary" id="asignarjaula-btn" name="asignarjaula-btn" type="submit">
        Asignar Jaula
    </button>
</div>
<br>
<div>
    <button class="btn btn-primary" id="consultardisponibilidadjaulas-btn" name="consultardisponibilidadjaulas-btn" type="submit">
        Consultar Disponibilidad Jaulas
    </button>
</div>
<br>
<div>
    <button class="btn btn-primary" id="vaciarjaula-btn" name="vaciarjaula-btn" type="submit">
        Vaciar Jaula
    </button>
</div>
<br>
<div>
    <button class="btn btn-primary" id="altaproductoalmacen-btn" name="altaproductoalmacen-btn" type="submit">
        Alta Producto Almacén
    </button>
</div>
<br>

{% if error_message %}
    <br>
    <div class="alert alert-danger">
        <center>{{ error_message }}</div></center>
    </div>
{% endif %}
</div>
</form>
<br>
<center>
    <div>
        <a href="{% url 'login:menu' %}" class="btn btn-secondary" id="volver-menu-btn">Volver al Menu Principal</a>
    </div>
    </center>
{% endblock content%}