{% extends 'base.html' %}

{% block content%}
<h2>Área de Logística</h2>
        <div>
            <a class="btn btn-primary" href="hacer_pedido" role="button">Hacer Pedido</a>
        </div>
        <br>
        <div>
            <a class="btn btn-primary" href="consultar_stock" role="button">Consultar Stock</a>
        </div>
        <br>
        <div>
            <a class="btn btn-primary" href="almacenar_producto" role="button">Almacenar Producto</a>
        </div>
        <br>
        <div>
            <a class="btn btn-primary" href="asignar_jaula" role="button">Asignar Jaula</a>
        </div>
        <br>
        <div>
            <a class="btn btn-primary" href="consultar_disponibilidad_jaulas" role="button">Consultar Disponibilidad Jaulas</a>
        </div>
        <br>
        <div>
            <a class="btn btn-primary" href="vaciar_jaula" role="button">Vaciar Jaula</a>
        </div>
        <br>
        <div>
            <a class="btn btn-primary" href="alta_producto_almacen" role="button">Alta Producto en Almacén</a>
        </div>
        <br>
        <br>
        <br>
        <div>
            <a class="btn btn-primary" href="../" role="button">Volver al Menu Principal</a>
        </div>
    </div>
        

{% endblock %}